<div class="compliment">
<%= @greeting %>
<br>
  <%= @compliment %>
</div>

<div>
  <% @color %>
</div>

<br>

<form action="/" method="post">
  <span>Give me a compliment!</span>
  <br>
  <input type="text" name="compliment">
</form>
